#container {
  position: relative;
  top: 0;
  left: 0;
}

#pic3 { 
  position: relative;
  top: 50px;
  left: 600px;
  z-index: 0;
}

#pic2 {
  position: absolute;
  top: 50px;
  left: 630px;
  z-index:1;
}

#pic1 { 
  position: relative;
  top: 210px;
  left: 640px;
  z-index:1;
}
